# Part 2 

This part include:
* droping rows
* Replace null values in rows

In [16]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer

In [2]:
spark = SparkSession.builder.appName('Part 2').getOrCreate()

In [6]:
basic_dataframe = spark.read.csv('./data/Part_2/data_1.csv', sep=';', inferSchema=True, header=True)
basic_dataframe.show()

+----+-----+-----+
|  id| name|price|
+----+-----+-----+
|   1| Milk|  2.5|
|   2|Bread| NULL|
|   3|  Bar|  2.0|
|   4| NULL|  1.0|
|NULL|Snack|  2.2|
|NULL| NULL|  2.0|
+----+-----+-----+

## Droping rows

* with null values
* with only null values
* with specfied number of null values
* with null values in specified columns

In [7]:
dataframe_without_null_values = basic_dataframe.na.drop()
dataframe_without_null_values.show()

+---+----+-----+
| id|name|price|
+---+----+-----+
|  1|Milk|  2.5|
|  3| Bar|  2.0|
+---+----+-----+

In [9]:
dataframe_without_only_null_values = basic_dataframe.na.drop(how='all')
dataframe_without_only_null_values.show()

+----+-----+-----+
|  id| name|price|
+----+-----+-----+
|   1| Milk|  2.5|
|   2|Bread| NULL|
|   3|  Bar|  2.0|
|   4| NULL|  1.0|
|NULL|Snack|  2.2|
|NULL| NULL|  2.0|
+----+-----+-----+

In [11]:
dataframe_without_two_null_values = basic_dataframe.na.drop(how='any',thresh=2)
dataframe_without_two_null_values.show()

+----+-----+-----+
|  id| name|price|
+----+-----+-----+
|   1| Milk|  2.5|
|   2|Bread| NULL|
|   3|  Bar|  2.0|
|   4| NULL|  1.0|
|NULL|Snack|  2.2|
+----+-----+-----+

In [12]:
dataframe_without_null_values_in_column = basic_dataframe.na.drop(how='any',subset=['id'])
dataframe_without_null_values_in_column.show()

+---+-----+-----+
| id| name|price|
+---+-----+-----+
|  1| Milk|  2.5|
|  2|Bread| NULL|
|  3|  Bar|  2.0|
|  4| NULL|  1.0|
+---+-----+-----+

## Replace null values in rows

* replace by specified value
* replace by generating values

In [15]:
# replace only string values
dataframe_with_replaced_null_values = basic_dataframe.na.fill('MISSING',['name'])
dataframe_with_replaced_null_values.show()

+----+-------+-----+
|  id|   name|price|
+----+-------+-----+
|   1|   Milk|  2.5|
|   2|  Bread| NULL|
|   3|    Bar|  2.0|
|   4|MISSING|  1.0|
|NULL|  Snack|  2.2|
|NULL|MISSING|  2.0|
+----+-------+-----+

In [22]:
imputer_mean = Imputer(
    inputCols=['price']
    ,outputCols=['price_gen']
).setStrategy("mean")

imputer_median = Imputer(
    inputCols=['price']
    ,outputCols=['price_gen']
).setStrategy("median")

imputer_mean.fit(basic_dataframe).transform(basic_dataframe).show()
imputer_median.fit(basic_dataframe).transform(basic_dataframe).show()

+----+-----+-----+---------+
|  id| name|price|price_gen|
+----+-----+-----+---------+
|   1| Milk|  2.5|      2.5|
|   2|Bread| NULL|     1.94|
|   3|  Bar|  2.0|      2.0|
|   4| NULL|  1.0|      1.0|
|NULL|Snack|  2.2|      2.2|
|NULL| NULL|  2.0|      2.0|
+----+-----+-----+---------+

+----+-----+-----+---------+
|  id| name|price|price_gen|
+----+-----+-----+---------+
|   1| Milk|  2.5|      2.5|
|   2|Bread| NULL|      2.0|
|   3|  Bar|  2.0|      2.0|
|   4| NULL|  1.0|      1.0|
|NULL|Snack|  2.2|      2.2|
|NULL| NULL|  2.0|      2.0|
+----+-----+-----+---------+